@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-animation {
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: black;
    transition: color 0.3s ease-out;
}

.underline-animation::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: orange;
    transition: width 0.3s ease-out;
}

.underline-animation:hover {
    color: #9f9f9f;
}

.underline-animation:hover::after {
    width: 100%;
}

.custom-height {
    height: calc(100vh - 400px);
}

#people-outline {
    font-size: 30px;
}
