@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    font-size: 30px;
    font-weight: 600;
}

a {
    color: #676767;
}

.input-menu {
    @apply p-3 m-1 h-[35px]  bg-transparent text-[14px] text-gray-300 rounded-[25px] border shadow-lg;
}

.input-normal {
    @apply p-3 m-1 h-[35px] bg-white text-[14px] text-gray-600 rounded-[4px];
}

.underline-animation {
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: black;
    transition: color 0.3s ease-out;
}

.underline-animation::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: orange;
    transition: width 0.3s ease-out;
}

.underline-animation:hover {
    color: #9f9f9f;
}

.underline-animation:hover::after {
    width: 100%;
}

.custom-height {
    height: calc(100vh - 400px);
}

#people-outline {
    font-size: 30px;
}
